.content_user
  %h1 Audit Log for #{@object.email}
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th When
        %th Who
        %th Where
        %th What
    - @object.audits.descending.each do |audit|
      %tbody
        - audit.audited_changes.each do |field,value|
          %tr
            %td= audit.created_at
            %td= link_to(User.find(audit.user_id).email, user_url(audit.user_id))
            %td= audit.remote_address
            %td= field
