.content_user
  .page-header
    - if current_user.admin
      = link_to users_path, :class => 'btn' do
        %i.icon-list-alt
        Back
      = link_to @user, :class => 'btn btn-primary' do
        %i.icon-info-sign.icon-white
        Show
    %h1 Editing user

  = render 'form'
  = link_to(raw('<i class="icon-remove-sign"></i> Cancel'), locations_path, class: 'btn')
  - if current_user.admin 
    - unless @user.confirmed_at
      = link_to(raw('<i class="icon-thumbs-up"></i> Confirm'), user_path(@user, confirm: true), :method => :put, class: 'btn btn-warning')
    - else
      = link_to(raw('<i class="icon-thumbs-down"></i> Unconfirm'), user_path(@user, confirm: false), :method => :put, class: 'btn btn-danger')
