= form_for @user, url: login_users_url do |f|
  - if @user.errors.any?
    #error_explanation
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :email
    = f.text_field :email, autofocus: true
  .field
    = f.label :password
    = f.text_field :password
  .actions
    = f.submit 'Log In'

