.content_user
  %h1 Sign In

  = form_for @user, url: login_users_url do |f|
    - if @user.errors.any?
      #error_explanation
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :email
      = f.text_field :email, autofocus: true
    .field
      = f.label :password
      = f.password_field :password
    .actions
      = f.submit 'Log In'

  .info
    Don't have an account?
    = link_to 'Sign Up', new_user_path
