.content_user
  .page-header
    = link_to users_path, :class => 'btn' do
      %i.icon-list-alt
      Back
    = link_to edit_user_path(@user), :class => 'btn btn-primary' do
      %i.icon-pencil.icon-white
      Edit
    %h1 Listing users

  %dl
    %dt Email
    %dd= @user.email

  %dl
    %dt Confirmed
    %dd 
      - if @user.confirmed_at
        %span.text-success= @user.confirmed_at
      - else
        %span.text-warning Not Confirmed

  %dl
    %dt Audits
    %dd= link_to 'Audit Log', audits_user_url(@user)
