= form_for(@location) do |f|
  .field
    = f.label :title
    = f.text_field :title, autofocus: true
  .field
    = f.label :address
    = f.text_field :address
  .actions
    - if @location.new_record?
      = f.button(raw('<i class="icon-ok-sign"></i> Save Location'), class: 'btn btn-primary')
    - else
      = f.button(raw('<i class="icon-ok-sign"></i> Update Location'), class: 'btn btn-primary')
