.content_locations

  .instructions
    %h1 Drag and Drop
    =image_tag('arrow_right.png')

  .library
    =link_to(image_tag('add_location_button.png'), new_location_path)
    %ul.library_locations
      - if @locations
        - @locations.each do |loc|
          %li.location{class: "location_#{loc.id}"}
            %nav.actions
              = link_to(image_tag('edit.png'), edit_location_path(loc))
              = link_to(image_tag('delete.png'), location_path(loc), :method => :delete, :id => "delete_location")
              = link_to(image_tag('arrow_right.png'), add_location_path(@trip, loc), :id => "add_to_trip") if @trip
            %h1= loc.title
            %p= loc.address

  .trip
    = render('trips/trip')
