.content_locations

  %ul.nav.nav-tabs
    %li=link_to('Locations', '#library', id: 'library_tab', 'data-toggle' => 'tab')
    %li.active=link_to('Trip', '#trip', id: 'trip_tab', 'data-toggle' => 'tab')
  .tab-content.row
    #library.library.tab-pane.active.span6
      =link_to(raw('<i class="icon-plus"></i> Add Location'), new_location_path, class: 'add_location_button btn btn-success btn-block')
      %ul.library_locations
        - if @locations
          - @locations.each do |loc|
            %li.location{class: "location_#{loc.id}"}
              %nav.actions
                = link_to(raw('<i class="icon-edit"></i> Edit'), edit_location_path(loc), title: 'Edit this location.', class: 'btn btn-small')
                = link_to(raw('<i class="icon-road"></i> Add'), add_location_path(@trip, loc), :id => "add_to_trip", class: 'add-button btn btn-small btn-custom', title: 'Add this location to the trip.') if @trip
              %h1{title: loc.address, 'data-toggle' => 'collapse', 'data-target' => "#address_#{loc.id}"}
                %i.icon-resize-full
                = loc.title
              %p.address{id: "address_#{loc.id}", class:"collapse"}= loc.address

    #trip.trip.tab-pane.active.span6
      = render('trips/trip')

.hidden
  .trip-id{ "data-trip-id" => @trip.id }
