.content_locations

  .instructions
    %h1 Drag and Drop
    =image_tag('arrow_right.png')

  .library
    =link_to(image_tag('add_location_button.png'), new_location_path)
    %ul.library_locations
      - if @locations
        - @locations.each do |loc|
          %li.location{class: "location_#{loc.id}"}
            %h1= loc.title
            %p= loc.address
            %nav.actions
              = link_to(image_tag('edit.png'), edit_location_path(loc))
              = link_to(image_tag('delete.png'), location_path(loc), :method => :delete, :id => "delete_location")
              = link_to(image_tag('arrow_right.png'), add_trip_location_path(@trip, loc), :id => "add_to_trip") if @trip

  .trip
    - if @trip
      .summary
        %h1 This Trip
        %h1= "#{@trip.distance} miles total"
        - unless @trip.locations.empty?
          =link_to(image_tag('clear_button.png'), clear_trip_path(@trip), :id => "clear_trip")

    %ul.trip_locations
      - if @trip
        %li.distance 
          %h1 Start of the Journey
        - @trip.locations.each_with_index do |loc, index|
          %span{class: "trip_location_#{index}"}
            %li.location{class: "location_#{loc.id}"}
              %h1= loc.title
              %p= loc.address
              %nav.actions
                = link_to(image_tag('remove.png'), remove_trip_path(@trip, index), :id => "remove_from_trip")
            - unless (index + 1) >= @trip.locations.size
              %li.distance
                %h1= "#{loc.distance_to(@trip.locations[index + 1])} miles to"
      %li.location.info
        %h1 Add a Location
