.content_locations

  .library
    =link_to(image_tag('add_location_button.png'), new_location_path)
    %ul.library_locations
      - if @locations
        - @locations.each do |loc|
          %li.location{class: "location_#{loc.id}"}
            %nav.actions
              = link_to(image_tag('edit.png'), edit_location_path(loc), title: 'Edit this location.')
              = link_to(image_tag('delete.png'), location_path(loc), :method => :delete, :id => "delete_location", title: 'Delete this location.', confirm: 'Are you sure you want to delete this location permanently?')
              = link_to(image_tag('arrow_right.png'), add_location_path(@trip, loc), :id => "add_to_trip", title: 'Add this location to the trip.') if @trip
            %h1= loc.title
            %p= loc.address

  .trip
    = render('trips/trip')
