!!! HTML
!!!
%html
  %head
    %title Voyageur
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container#container
      %header
        %h1 Voyageur
        = link_to(image_tag('logo.png'), root_url)
        - if current_user
          %nav.actions
            = link_to(image_tag('logout_button.png'), logout_users_path)

      - if flash[:notice]
        #notice
          = flash[:notice]
      - if flash[:error]
        #error
          = flash[:error]
      - if @location and @location.errors.any?
        #error_explanation
          %h2= "#{pluralize(@location.errors.count, "error")} prohibited this location from being saved:"
          %ul
            - @location.errors.full_messages.each do |msg|
              %li= msg
      .content
        = yield
    %footer#footer
